/* omw to write comments to make my css easier to read */

.html { 
    font-size: 16px;
}

* {
    margin: 1px;
}

@font-face {
  font-family: "nabla";
  src: url("Nabla-Regular.ttf");
}

body {
    background-color: grey;
    margin-left: 1in;
    margin-right: 2.54cm;
    margin-bottom: 2vh;
}

header{
    font-size: 1.618rem;
    text-align: center;
    color: #001440;
    margin: 5vh 5% 5vh 5%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black;
    max-height: 50vh;
    position: static;
}
@media (min-width: 1600){
    .attendance {
        padding: 1vh 1vh 1vh 1vh;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        text-align: center;
        background-color: lightgray;
        border-radius: 20px;
        padding-top: 3px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 3px;
        display: inline-block;
        vertical-align: top;
        height: 450px;
        width: 200px
    }

    #agenda {
        display: inline-block;
        text-align: left;
        background-color: lightgray;
        border-radius: 20px;
        padding: 3px 30px 3px 30px;
        border: 1px solid black;
        height: 450px;
        width: 60vh;
        max-width: 600px;
    }
}

.attendance {
    padding: 1vh 1vh 1vh 1vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
}

#agenda {
    text-align: left;
    background-color: lightgray;
    border-radius: 20px;
    padding: 3px 30px 3px 30px;
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 10;
}

.diagrams > h2 {
    font-family: nabla;
}

[font-family=nabla] {
    font-size:1.6em;
}

.diagrams>h2:hover {
    text-decoration:underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(10, 50px);

}

.diagrams {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
section+h2 {
    text-align:center;
}

section h3 {
    font-size: 1.3em;
}
li.redacted {
    text-decoration: line-through;
}

h1 {
    font-size: 1.618em;
}

footer, summary {
    display: none;
}

h1~h3 {
    text-decoration: underline;
    position: inherit;
}
